<div class="diary-container">
  <div class="diary-header">
    <h5>My Diary</h5>
    <div class="diary-actions">
      <button class="btn btn-primary" (click)="createNewEntry()"><fa-icon icon="plus"></fa-icon> New Entry</button>
      <div class="search-container">
        <input type="text" class="form-control" placeholder="Search entries..." [(ngModel)]="searchTerm" />
        <fa-icon icon="search"></fa-icon>
      </div>
    </div>
  </div>

  <div class="diary-content">
    @if (isEditing) {
      <div class="diary-editor-container">
        <jhi-diary-editor [entry]="selectedEntry" (saveEntry)="onSaveEntry($event)" (cancelEdit)="onCancelEdit()"></jhi-diary-editor>
      </div>
    } @else {
      <div class="diary-entries-container">
        @if (filteredEntries.length === 0) {
          <div class="no-entries">
            <p>No diary entries found. Create your first entry!</p>
          </div>
        } @else {
          <div class="entries-list">
            @for (entry of filteredEntries; track entry.id) {
              <jhi-diary-entry [entry]="entry" (editEntry)="editEntry($event)"></jhi-diary-entry>
            }
          </div>
        }
      </div>
    }
  </div>
</div>
