<!-- Board Content -->
<div class="board-content">
  @for (status of statuses; track status) {
    <div class="column">
      <div class="column-header">
        <h2>{{ status }}</h2>
        <span class="task-count {{ status }}">{{ getTaskCount(status) }}</span>
      </div>
      <div
        class="column-content"
        cdkDropList
        [id]="status + '-list'"
        [cdkDropListData]="tasksByStatus.get(status) ?? []"
        [cdkDropListConnectedTo]="getConnectedLists(status)"
        (cdkDropListDropped)="onDrop($event, status)"
        tabindex="-1"
      >
        @for (task of tasksByStatus.get(status) ?? []; track task.id; let index = $index) {
          <div
            cdkDrag
            [cdkDragData]="task"
            tabindex="-1"
            #taskCard
            [attr.data-task-id]="task.id"
            [class.active-task]="sidebarOpen() && task.id === activeTaskId()"
          >
            <jhi-task-card [task]="task" [index]="index"></jhi-task-card>
          </div>
        }
      </div>
    </div>
  }
</div>
