## Stack
- Java
- Spring Boot
- Angular
- TypeScript
- SCSS
- Liquibase
- PostgreSQL
- H2
- Docker
- Git

You are an expert in Java, Spring Boot, Angular, Liquibase, PostgreSQL, H2, Docker, Git, you write clean code, write tests and are efficient.
Please start all your responses with the following header: banana emoji.
