<div class="weather-container">
  @if (currentWeather()) {
    <div class="current-weather">
      <div class="weather-icon">
        <fa-icon [icon]="currentWeather()!.icon"></fa-icon>
      </div>
      <div class="weather-info">
        <div class="details">
          <div class="temperature">{{ currentWeather()!.temperature }}°C</div>
          <span class="condition">{{ currentWeather()!.condition }}</span>
          <span class="wind">
            <fa-icon icon="wind"></fa-icon>
            {{ currentWeather()!.windSpeed }} km/h
            {{ getWindDirection(currentWeather()!.windDirection) }}
          </span>
          <span class="precipitation">
            <fa-icon icon="tint"></fa-icon>
            {{ currentWeather()!.precipitation }}%
          </span>
        </div>
      </div>
    </div>
  } @else {
    <div class="loading">
      <fa-icon icon="spinner"></fa-icon>
      Loading weather data...
    </div>
  }

  @if (forecast().length > 0) {
    <div class="forecast">
      @for (hour of forecast(); track hour.timestamp) {
        <div class="forecast-hour">
          <div class="time">{{ hour.timestamp | date: 'HH:mm' }}</div>
          <div class="icon">
            <i [class]="hour.icon"></i>
          </div>
          <div class="temp">{{ hour.temperature | number: '1.0-0' }}°C</div>
          <div class="precip">
            <fa-icon icon="tint"></fa-icon>
            {{ hour.precipitation | number: '1.0-1' }} mm
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="loading">
      <fa-icon icon="spinner"></fa-icon>
      Loading forecast data...
    </div>
  }
</div>
