<div
  class="task-card"
  (click)="openTask($event)"
  (keydown.enter)="openTask($event)"
  tabindex="0"
  role="button"
  [attr.aria-label]="'Task: ' + task.title"
>
  <div class="task-header">
    <h3>
      {{ task.title }}
      @if (task.description) {
        <span class="task-description-icon"><fa-icon [icon]="['fas', 'info']"></fa-icon></span>
      }
    </h3>

    <div class="task-priority priority-{{ task.priority }}">P{{ task.priority }}</div>
  </div>

  <div class="task-details">
    @if (task.assignee) {
      <div class="task-assignee">
        <fa-icon [icon]="['fas', 'user']"></fa-icon>
        {{ task.assignee }}
      </div>
    }
    @if (task.dueDate) {
      <div class="task-due-date">
        <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
        {{ task.dueDate | date: 'shortDate' }}
      </div>
    }
    <div class="task-last-modified-date">
      <fa-icon [icon]="['fas', 'clock']"></fa-icon>
      {{ task.lastModifiedDate | date: 'medium' }}
    </div>
  </div>
</div>
