<div
  #taskCard
  class="task-card"
  (click)="openTask($event)"
  (keydown.enter)="openTask($event)"
  tabindex="0"
  role="button"
  [attr.aria-label]="'Task: ' + task.title"
>
  <div class="task-header">
    <h3>
      {{ task.title }}
      @if (hasContentBesidesHashtags()) {
        <fa-icon icon="align-left" class="task-description-icon"></fa-icon>
      }
    </h3>

    <div class="task-priority priority-{{ task.priority }}">P{{ task.priority }}</div>
  </div>

  @if (getHashtags().length > 0) {
    <div class="task-tags">
      @for (tag of getHashtags(); track $index) {
        <span
          class="tag"
          [style.background-color]="getTagColor(tag)"
          [style.color]="getTagTextColor(tag)"
          (click)="onTagClick(tag, $event)"
        >
          {{ tag }}
        </span>
      }
    </div>
  }

  <div class="task-details">
    @if (task.assignee) {
      <div class="task-assignee">
        <fa-icon icon="user"></fa-icon>
        {{ task.assignee }}
      </div>
    }
    @if (task.dueDate) {
      <div class="task-due-date">
        <fa-icon icon="calendar"></fa-icon>
        {{ task.dueDate | date: 'shortDate' }}
      </div>
    }
    @if (boardName) {
      <div class="task-board-name" (click)="navigateToBoard($event)" role="link" tabindex="0">
        <fa-icon icon="clipboard-list"></fa-icon>
        {{ boardName }}
      </div>
    }
    <div class="task-last-modified-date">
      <fa-icon icon="clock"></fa-icon>
      {{ task.lastModifiedDate | date: 'short' }}
    </div>
  </div>
</div>
