<div class="row">
  <div class="left-sidebar col-md-3">
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <jhi-habit-tracker></jhi-habit-tracker>
    <jhi-clock></jhi-clock>
    <jhi-weather></jhi-weather>
    <jhi-pomodoro></jhi-pomodoro>
  </div>

  <div class="home-content col-md-9">
    @switch (activeComponent()) {
      @case ('board') {
        <jhi-board></jhi-board>
      }
      @case ('task') {
        <jhi-task></jhi-task>
      }
      @case ('notes') {
        <jhi-notes></jhi-notes>
      }
      @case ('stocks') {
        <jhi-stock-picker></jhi-stock-picker>
      }
      @case ('dashboard') {
        <jhi-dashboard></jhi-dashboard>
      }
      @case ('habit') {
        <jhi-habit-management></jhi-habit-management>
      }
    }
  </div>
</div>
