@if (isAuthenticated()) {
  <div class="row">
    <div class="left-sidebar col-md-2">
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
      <jhi-pomodoro></jhi-pomodoro>
      <jhi-clock jhiHideOnPomodoro></jhi-clock>
      <jhi-habit-tracker jhiHideOnPomodoro></jhi-habit-tracker>
    </div>

    <div class="home-content col-md-10">
      @switch (activeComponent()) {
        @case ('board') {
          <jhi-board></jhi-board>
        }
        @case ('notes') {
          <jhi-notes></jhi-notes>
        }
        @case ('dashboard') {
          <jhi-dashboard></jhi-dashboard>
        }
      }
    </div>
  </div>
} @else {
  <div class="row">
    <div class="col-md-12">
      <h1 (click)="login()">Please login to continue</h1>
    </div>
  </div>
}
