/* ==========================================================================
Main page styles
========================================================================== */

.left-sidebar {
  display: flex;
  flex-direction: column;
  margin: 0;
  row-gap: 1rem;
}

.row {
  min-height: calc(100vh - 100px);
}

.col-md-3,
.col-md-6 {
  padding: 1rem;
}
