@if (activeBoard(); as board) {
  <div class="board-container">
    <div class="board-header">
      <div class="board-controls">
        <h5>{{ board.title }}</h5>
        <div class="search-box">
          <input type="text" placeholder="Search tasks..." (input)="onSearchInput($event)" />
        </div>

        <div class="filter-sort">
          <div class="dropdown">
            <button (click)="filterMenuOpen.set(!filterMenuOpen())" [class.active]="filterMenuOpen()">
              <fa-icon [icon]="['fas', 'filter']"></fa-icon>
              Filter
            </button>
            @if (filterMenuOpen()) {
              <div class="dropdown-menu">
                <div class="dropdown-item" *ngFor="let property of taskProperties" (click)="addFilter(property, '')">
                  {{ property }}
                </div>
              </div>
            }
          </div>

          <div class="dropdown">
            <button (click)="sortMenuOpen.set(!sortMenuOpen())" [class.active]="sortMenuOpen()">
              <fa-icon [icon]="['fas', 'sort']"></fa-icon>
              Sort
            </button>
            @if (sortMenuOpen()) {
              <div class="dropdown-menu">
                <div class="dropdown-item" *ngFor="let property of taskProperties" (click)="setSort(property)">
                  {{ property }}
                  @if (boardView().sort?.property === property) {
                    <fa-icon [icon]="['fas', boardView().sort?.direction === 'asc' ? 'arrow-up' : 'arrow-down']"></fa-icon>
                  }
                </div>
              </div>
            }
          </div>
        </div>

        <button class="new-task-btn" (click)="createNewTask($event)">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          New
        </button>
      </div>

      @if (boardView().filters.length > 0) {
        <div class="active-filters">
          <div class="filter-tag" *ngFor="let filter of boardView().filters; let i = index">
            {{ filter.property }}: {{ filter.value }}
            <fa-icon [icon]="['fas', 'times']" (click)="removeFilter(i)"></fa-icon>
          </div>
        </div>
      }
    </div>

    <jhi-board-columns
      [statuses]="statuses"
      [tasksByStatus]="tasksByStatus()"
      [onDrop]="onDrop.bind(this)"
      [getConnectedLists]="getConnectedLists.bind(this)"
      [getTaskCount]="getTaskCount.bind(this)"
    ></jhi-board-columns>
  </div>
} @else {
  <div class="no-boards">
    <h2>No boards found</h2>
    <p>Create a new board to get started</p>
  </div>
}
