<div class="container-fluid">
  <div class="row">
    <!-- Habits List -->
    <div class="col-md-4 border-end">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>My Habits</h2>
        <button class="btn btn-primary" (click)="addHabit()">
          <fa-icon icon="plus"></fa-icon>
          <span>Add Habit</span>
        </button>
      </div>

      <div class="list-group">
        <div
          *ngFor="let habit of habits()"
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          [class.active]="habit === selectedHabit()"
          (click)="selectHabit(habit)"
        >
          <div>
            <h5 class="mb-1">
              <ng-container *ngIf="habit !== editingHabit(); else editMode">
                <span (click)="startEditing(habit, $event)">{{ habit.name }}</span>
              </ng-container>
              <ng-template #editMode>
                <input
                  #habitInput
                  type="text"
                  class="form-control form-control-sm"
                  [(ngModel)]="habit.name"
                  (blur)="finishEditing(habit)"
                  (keydown)="onKeyDown($event, habit)"
                  (click)="$event.stopPropagation()"
                  placeholder="New Habit"
                  autofocus
                />
              </ng-template>
            </h5>
            <small *ngIf="habit.description">{{ habit.description }}</small>
          </div>
          <button class="btn btn-danger btn-sm" (click)="deleteHabit(habit); $event.stopPropagation()">
            <fa-icon icon="trash"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- Habit Schedule -->
    <div class="col-md-8" *ngIf="selectedHabit()">
      <jhi-habit-schedule [habit]="selectedHabit()!" (habitChange)="updateHabit($event)"></jhi-habit-schedule>
    </div>
  </div>
</div>
